build/
syntree/*
!syntree/.gitkeep

*.swp

c-c
test_lex
test_syntax
test_syntree

 *.swp

##########################################################################
# CMake: https://github.com/github/gitignore/blob/master/CMake.gitignore #
##########################################################################

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

##################################################################
# C: https://github.com/github/gitignore/blob/master/C.gitignore #
##################################################################

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# VS code
.vscode
.vs./syntax_tree/CMakeFiles/3.5.1/CMakeDetermineCompilerABI_C.bin
./syntax_tree/CMakeFiles/3.5.1/CompilerIdCXX/a.out
./syntax_tree/CMakeFiles/3.5.1/CompilerIdC/a.out
./syntax_tree/CMakeFiles/3.5.1/CMakeDetermineCompilerABI_CXX.bin
./syntax_tree/CMakeFiles/feature_tests.bin
./lab2_syntax_analyzer/run_test_syntax.sh
./.git/hooks/commit-msg.sample
./.git/hooks/pre-commit.sample
./.git/hooks/pre-applypatch.sample
./.git/hooks/pre-rebase.sample
./.git/hooks/post-update.sample
./.git/hooks/pre-push.sample
./.git/hooks/prepare-commit-msg.sample
./.git/hooks/applypatch-msg.sample
./.git/hooks/update.sample
./build/c-c
./build/test_syntree
./build/CMakeFiles/3.5.1/CMakeDetermineCompilerABI_C.bin
./build/CMakeFiles/3.5.1/CompilerIdCXX/a.out
./build/CMakeFiles/3.5.1/CompilerIdC/a.out
./build/CMakeFiles/3.5.1/CMakeDetermineCompilerABI_CXX.bin
./build/CMakeFiles/feature_tests.bin
./build/test_lex
./build/test_syntax
./lab1_lexical_analyzer/a.out
./lab3-0/if-generator
./lab3-0/call_generator
./lab3-0/while-generator
./lab3-0/gcd_generator
./lab3-0/assign_generator
./do_cmake.sh
